html body {
    background-color: #1A1A1A;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #131313;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 9999;

}

.nav-logo {
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: rgb(224, 15, 15) !important;
    /* float: left; */
    font-weight: 700;
    font-size: 2rem;
    transition: ease-in-out 500ms;
}

.nav-logo-title {
    margin-top: 0;
}

.nav-logo {
    margin-left: 10px;
}

.nav-logo:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.75),
        0 0 20px rgb(224, 15, 15);
}

.navbar-nav {
    list-style-type: none;
}

.nav-link {
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    /* margin-left: 4em !important; */
    transition: ease-in-out 350ms;
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.75),
        0 0 20px rgb(224, 15, 15),
        0 0 50px rgb(224, 15, 15);

}

.nav-item {
    margin: 5px 0px;
}

.nav-item .active {
    color: rgb(255, 255, 255) !important;
    /* padding: 2px; */
    /* border-bottom: 2px solid rgb(255, 255, 255); */
}


.sm-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
}

.nav-icon {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 1rem;
}


.nav-icon:hover {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.75),
        0 0 20px rgb(224, 15, 15),
        0 0 50px rgb(224, 15, 15);

}

/* Collapse Nav */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}





.hero {
    display: flex;
    justify-content: center;
    margin: 0 1em 1em 1em;
}

#grp-img {
    width: 100%;
    /* height: 788.375px; */
    border-radius: 22px;
    /* border: solid 2px rgba(255, 255, 255, 0.75); */
}

main {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 2.5em;
    margin: 25px 0px;
    font-family: 'Pacifico', cursive;
    color:rgb(224, 15, 15);
}

.about-title {
    margin: 0;
}

.about-content {
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
}

.members {
    font-size: 1.5em;
    width: 85%;
    margin-bottom: 2em;
    font-family: 'Pacifico', cursive;
    color:rgb(224, 15, 15);

}
.members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sm-members {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.member-name {
    margin-bottom: 0.5em;
}

footer {
    background-color: #131313;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    padding: 10px 10px;
}

.contact {
    padding-left: 10px;
}

.contact a {
    text-decoration: none;
    color: rgb(224, 15, 15) !important;
    text-decoration: underline;
}





@media (min-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.nav-logo {
    white-space: nowrap;
    /* overflow: hidden; */
}

.navbar-nav {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 7px;
}

.sm-icons {
    margin-top: 28px;
}


.about-title {
    font-size: 3em;
}
.about-content {
    font-size: 1.25em;
    width: 85%;
    line-height: 25px;
}

.members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;

}

}



@media (min-width:992px) {
    .about-title {
        font-size: 3em;
    }
    .about-content {
        font-size: 1.5em;
        width: 85%;
        line-height: 30px;
    }
}

@media (min-width:1200px) {
    .nav-logo {
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 1.5rem;
        padding-right:1rem;
    }

    .sm-icons {
        size: 1.5rem;
    }

    .news p {
        font-size: 1.5rem;
    }
}

@media (max-width: 699px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links .navbar-nav {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links .navbar-nav li {
        text-align: center;
    }

    .navbar-links .navbar-nav li a {
        padding: .5rem 1rem;
    }

    .sm-icons {
        width: 100%;
        margin-top: 0;
        padding-left: 7px;
        justify-content: center;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;

    }
}

